extends ../base.pug

block content
  include ../partials/navigation.pug
  div(class="container-fluid mt-5")
    div(class='row col-12 justify-content-center')  
      div(class='text-center admin-dash-stats col-sm')
        h3(class='card-title') #{totalPurchases}
        p(class='card-text') Total Purchases
      div(class='text-center admin-dash-stats col-sm')
        h3(class='card-title') #{totalAmbassadors}
        p(class='card-text') Total Ambassadors
      div(class='text-center admin-dash-stats col-sm')
        h3(class='card-title') #{totalInvitees}
        p(class='card-text') Total Invitees   
  div(class="container-fluid mt-5 text-center")
    