extends ../base.pug

block content
  include ../partials/navigation.pug
  div(class="container-fluid")
    div(class="row")
      div(class="col-md-6 offset-md-3 mt-4 text-center")
        div(class="card my-5 py-4 px-3 text-left")
          form(action=`/admin/${token}/new-password` method="POST")
            input(type='hidden' name='_csrf' value=`${csrfToken}`)
            div(class="form-group")
              label(for="password") New password:
              input(type="password" name="password" class="form-control")
            input(type="submit" name="submit" value="submit" class="form-control btn btn-relish-primary")
