extends base.pug

block content
  div(class="container-fluid")
    div(class="col-md-6 offset-md-3 mt-4 text-center justify-content-center") 
      h2 Please enter your email to continue:
    div(class="col-md-6 offset-md-3 mt-4 text-center")
        div(class="card my-5 py-4 px-3 text-left")
          form(action=`/referrer/${referrerId}/checkout` method="POST")
            input(type='hidden' name='_csrf' value=`${csrfToken}`)
            div(class="form-group")
              label(for="email") Email
              input(type="email" name="email" class="form-control" autofocus) 
              input(type="hidden" name="referralId" value=`${referrerId}`)
            input(type="submit" name="submit" value="submit" class="form-control btn btn-relish-primary")
